@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Styles */
@layer components {
  /* Buttons */
  .btn-primary {
    @apply bg-colorPrimary-button-primary-bg border-standard border-colorPrimary-button-primary-border text-colorPrimary-button-primary-content shadow cursor-pointer transition ease-in-out hover:scale-95;
  }

  .btn-secondary {
    @apply bg-colorPrimary-button-secondary-bg border-standard border-colorPrimary-button-secondary-border
    text-colorPrimary-button-secondary-content shadow cursor-pointer transition ease-in-out hover:scale-95;
  }

  .btn-registration {
    @apply bg-colorPrimary-button-primary-bg  text-colorPrimary-button-primary-content shadow disabled:bg-gray-300
    enabled:transition enabled:ease-in-out enabled:hover:scale-95;
  }

  .btn-icon {
    @apply bg-colorPrimary-button-primary-bg text-colorPrimary-button-primary-content cursor-pointer transition ease-in-out hover:scale-x-105;
  }

  /* Select Dropdowns */
  .select-primary {
    @apply cursor-pointer text-colorPrimary-select-text bg-colorPrimary-select-bg border-standard border-colorPrimary-select-border rounded-lg shadow-sm  py-xsGutter px-xsGutter;
  }

  /* Links */
  .link-hover {
    @apply hover:underline hover:!text-colorPrimary-body-text-red cursor-pointer;
  }

  /* Typography */
  .text-body-heading {
    @apply font-bold smartPhone:text-lg laptop:text-2xl;
  }

  .text-body-subheading {
    @apply font-semibold text-sm smartPhone:text-base laptop:text-lg;
  }

  .text-info-emphasize {
    @apply font-bold text-sm smartPhone:text-base tablet:text-lg;
  }

  .text-info-other {
    @apply text-xs smartPhone:text-sm tablet:text-base;
  }

  /* Images */
  .image-container-small {
    @apply max-w-24 max-h-24 tablet:max-w-32 tablet:max-h-32;
  }

  .image-container-normal {
    @apply h-52 w-52;
  }

  .image-container-large {
    @apply h-64 w-64;
  }

  /* Main Containers */
  .body-container {
    @apply w-full absolute top-noSpace left-noSpace flex flex-col min-h-screen bg-colorPrimary-body-bg text-colorPrimary-body-text-blue;
  }

  .site-anchor-common {
    @apply w-full bg-colorPrimary-siteAnchors-bg;
  }

  .navbar {
    @apply site-anchor-common text-colorPrimary-siteAnchors-headerText fixed top-noSpace left-noSpace shadow-md z-10 border-b-thick border-b-colorPrimary-border-normal rounded-b-lg h-20;
  }

  .footer {
    @apply site-anchor-common text-colorPrimary-siteAnchors-footerText shadow mt-largeGutter;
  }

  .content {
    @apply relative w-full pt-20 flex-grow;
  }

  /* Subsidiary Containers */
  .content-with-padding {
    @apply w-full p-largeGutter laptop:p-16 laptop:pt-10 pb-noSpace laptop:pb-noSpace;
  }

  .content-with-extra-padding {
    @apply w-full p-largeGutter laptop:p-32 laptop:pt-10 pb-noSpace laptop:pb-noSpace;
  }

  /* Navbar */
  .navbar-content {
    @apply w-full h-full flex items-center justify-between;
  }

  .navbar-left {
    @apply w-24 tablet:w-44 h-full flex justify-center items-center;
  }

  .navbar-middle {
    @apply hidden tablet:flex tablet:flex-1 tablet:justify-center tablet:items-center h-full max-w-3xl;
  }

  .navbar-right {
    @apply mr-2 min-w-72 max-w-96 flex shrink-0 justify-end;
  }

  .navbar-link {
    @apply hover:border-standard hover:border-colorPrimary-border-normal hover:rounded-sm cursor-pointer;
  }

  .navbar-logo-main {
    @apply w-auto h-14 hidden tablet:block;
  }

  .navbar-logo-mobile {
    @apply w-auto h-14 block tablet:hidden;
  }

  .navbar-link-logo-block {
    @apply inline-block navbar-link;
  }

  .navbar-link-text-block {
    @apply inline-block py-xsGutter px-smallGutter navbar-link;
  }

  .navbar-link-flexbox {
    @apply flex items-center relative py-xsGutter px-smallGutter navbar-link;
  }

  .navbar-cart-quantity-text {
    @apply absolute top-1 left-6 w-6 text-center navbar-text-small;
  }

  .navbar-cart-text {
    @apply mt-3 navbar-text-small;
  }

  .search-bar {
    @apply flex-1 w-0 h-9 pl-4 rounded-l bg-colorPrimary-input-bg text-colorPrimary-body-text-blue placeholder-colorPrimary-input-placeholder;
  }

  .search-icon {
    @apply w-12 h-9 rounded-r shrink-0 btn-icon;
  }

  .search-icon-svg {
    @apply h-6 ml-3 mt-0.5;
  }

  .navbar-text-small {
    @apply text-xs smartPhone:text-sm font-semibold;
  }

  .navbar-text-normal {
    @apply text-sm smartPhone:text-base font-bold;
  }

  .cart-icon {
    @apply w-12;
  }

  /* Footer */
  .footer-box {
    @apply w-full mx-auto p-largeGutter laptop:flex laptop:items-center laptop:justify-between;
  }

  .footer-copyright-text {
    @apply text-sm tablet:text-center;
  }

  .footer-list-container {
    @apply flex flex-wrap items-center mt-3 text-sm font-medium tablet:mt-0;
  }

  .footer-link {
    @apply hover:underline me-4 laptop:me-6;
  }

  /* Products Page */
  .products-grid {
    @apply w-full grid grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-4 desktop:grid-cols-6 largeScreen:grid-cols-7;
  }

  .product-card {
    @apply flex flex-col gap-largeGutter py-largeGutter px-smallGutter border-r-standard border-b-standard border-colorPrimary-border-normal;
  }

  .product-clickable-area {
    @apply cursor-pointer hover:border-standard hover:border-colorPrimary-border-dark hover:rounded-sm flex flex-col-reverse tablet:flex-col gap-smallGutter;
  }

  .product-image-container {
    @apply image-container-normal self-start tablet:self-center;
  }

  .product-image {
    @apply object-contain;
  }

  .product-title {
    @apply line-clamp-2 font-bold;
  }

  .product-rating-container {
    @apply flex items-center h-10 gap-smallGutter;
  }

  .product-rating-stars-link {
    @apply w-24 cursor-pointer;
  }

  .product-rating-stars-image {
    @apply object-contain pb-xsGutter;
  }

  .product-rating-count {
    @apply text-colorPrimary-body-link link-hover h-full inline-flex items-center;
  }

  .product-purchase-area {
    @apply flex flex-col gap-smallGutter;
  }

  .product-price-quantity-container {
    @apply flex flex-row justify-between items-center pr-8 tablet:pr-noSpace;
  }

  .product-price-container {
    @apply font-bold shrink-0;
  }

  .product-qty {
    @apply select-primary font-medium;
  }

  .product-added-msg {
    @apply flex text-colorPrimary-body-text-green font-semibold justify-center;
  }

  .product-added-msg-svg {
    @apply size-6;
  }

  .product-add-to-cart-btn {
    @apply btn-primary w-full rounded-3xl h-10;
  }

  /* Checkout page */
  .checkout-body-container {
    @apply content-with-padding;
  }

  .checkout-body {
    @apply grid grid-cols-checkoutBody gap-largeGutter;
  }

  .checkout-review-left {
    @apply text-body-heading self-center;
  }

  .checkout-review-right {
    @apply text-body-subheading justify-self-end self-center;
  }

  .checkout-review-itemcount {
    @apply text-colorPrimary-body-link block tablet:inline;
  }

  .checkout-summary-containers-common {
    @apply w-full col-span-2 laptop:col-span-1 laptop:row-start-2;
  }

  .checkout-box-borders-common {
    @apply overflow-hidden border-standard border-colorPrimary-border-normal rounded-lg;
  }

  .checkout-payment-summary-container {
    @apply checkout-summary-containers-common laptop:col-start-2 laptop:col-end-3 w-full h-auto;
  }

  .checkout-payment-summary-box {
    @apply w-full p-smallGutter flex flex-col gap-largeGutter checkout-box-borders-common;
  }

  .checkout-payment-summary-title {
    @apply text-info-emphasize;
  }

  .checkout-calculations {
    @apply w-full grid grid-cols-checkoutPaymentCard gap-y-smallGutter;
  }

  .checkout-payment-grid-left {
    @apply justify-self-start text-info-other text-colorPrimary-body-text-gray;
  }

  .checkout-payment-grid-right {
    @apply justify-self-end text-info-other text-colorPrimary-body-text-gray;
  }

  .checkout-payment-total-left {
    @apply justify-self-start font-bold text-info-emphasize text-colorPrimary-body-text-red;
  }

  .checkout-payment-total-right {
    @apply justify-self-end font-bold text-info-emphasize text-colorPrimary-body-text-red;
  }

  .checkout-button {
    @apply btn-primary rounded-md text-center py-xsGutter text-info-emphasize;
  }

  .checkout-items-summary-container {
    @apply checkout-summary-containers-common laptop:col-start-1 laptop:col-end-2 w-full h-auto flex flex-col gap-largeGutter;
  }

  .checkout-item-summary-box {
    @apply w-full checkout-box-borders-common p-largeGutter;
  }

  .checkout-item-summary-grid {
    @apply w-full grid grid-cols-checkoutItemCard gap-largeGutter;
  }

  .checkout-item-selected-delivery {
    @apply justify-self-start col-span-3 text-colorPrimary-body-text-green text-info-emphasize;
  }

  .checkout-item-image-container {
    @apply image-container-small self-start;
  }

  .checkout-item-image {
    @apply object-contain;
  }

  .checkout-item-details {
    @apply justify-self-start self-start flex flex-col gap-smallGutter text-info-emphasize;
  }

  .checkout-item-title {
    @apply line-clamp-2 link-hover;
  }

  .checkout-item-price {
    @apply text-colorPrimary-body-text-red font-bold;
  }

  .checkout-item-quantity-container {
    @apply flex gap-smallGutter items-center;
  }

  .checkout-item-quantity-edit {
    @apply link-hover;
  }

  .checkout-item-quantity-edit-icon {
    @apply size-6 inline;
  }

  .checkout-item-quantity-select {
    @apply select-primary text-info-other;
  }

  .checkout-item-quantity-button {
    @apply btn-secondary rounded-3xl px-smallGutter text-info-other;
  }

  .checkout-delivery-options {
    @apply justify-self-start self-start flex flex-col gap-smallGutter;
  }

  .checkout-delivery-options-title {
    @apply justify-self-start text-info-emphasize text-colorPrimary-body-text-green;
  }

  .checkout-delivery-options-grid {
    @apply grid grid-cols-deliveryOptions gap-smallGutter;
  }

  .checkout-delivery-grid-radio {
    @apply self-start;
  }

  .checkout-delivery-day-info {
    @apply block text-info-emphasize text-colorPrimary-body-text-green;
  }

  .checkout-delivery-price-info {
    @apply block text-info-other text-colorPrimary-body-text-gray;
  }

  /* Orders page */
  .orders-body-container {
    @apply content-with-padding;
  }

  .orders-body {
    @apply grid grid-cols-ordersBody gap-largeGutter;
  }

  .orders-body-heading {
    @apply text-body-heading;
  }

  .order-item-card {
    @apply grid grid-cols-orderCard border-standard border-colorPrimary-border-dark rounded-md;
  }

  .order-heading-container {
    @apply bg-colorPrimary-body-bgGray text-colorPrimary-body-text-green p-smallGutter;
  }

  .order-item-heading-bar {
    @apply flex flex-col smartPhone:flex-row justify-between;
  }

  .order-item-heading-section {
    @apply flex flex-row smartPhone:flex-col justify-between gap-smallGutter;
  }

  .order-item-heading-title {
    @apply inline smartPhone:block text-info-emphasize;
  }

  .order-item-heading-info {
    @apply inline smartPhone:block text-info-other;
  }

  .order-item-container {
    @apply py-smallGutter border-thin border-t-colorPrimary-border-dark;
  }

  .order-item-details {
    @apply grid grid-cols-orderDetails gap-largeGutter p-smallGutter;
  }

  .order-item-image-container {
    @apply image-container-small self-start justify-self-start row-start-1 row-end-2 col-start-1 col-end-2;
  }

  .order-item-info-container {
    @apply flex flex-col gap-smallGutter row-start-2 row-end-3 col-span-2 laptop:row-start-1 laptop:row-end-2 laptop:col-span-1;
  }

  .order-item-track-btn-container {
    @apply self-start justify-self-end row-start-1 row-end-2 col-start-2 col-end-3 laptop:col-start-3 laptop:col-end-4;
  }

  .order-item-image {
    @apply object-contain;
  }

  .order-item-name {
    @apply text-info-emphasize line-clamp-2;
  }

  .order-item-quantity {
    @apply text-info-other;
  }

  .order-item-delivery-date {
    @apply text-info-other;
  }

  .order-again-button-container {
    @apply self-start;
  }

  .order-again-button {
    @apply btn-primary rounded-xl px-smallGutter py-xsGutter text-info-other;
  }

  .order-again-icon {
    @apply size-4 tablet:size-6 inline;
  }

  .order-item-track-btn-container {
    @apply justify-self-end;
  }

  .order-item-track-btn {
    @apply btn-secondary rounded-xl px-smallGutter py-xsGutter text-info-other;
  }

  .order-item-track-icon {
    @apply size-4 tablet:size-6 inline;
  }

  /* Tracking Page */
  .tracking-body {
    @apply content-with-padding flex flex-col gap-largeGutter items-start;
  }

  .tracking-orders-link {
    @apply link-hover text-info-other;
  }

  .tracking-delivery-date {
    @apply text-info-emphasize;
  }

  .tracking-item-order-id {
    @apply text-info-other text-colorPrimary-body-text-gray;
  }

  .tracking-item-name {
    @apply text-info-emphasize;
  }

  .tracking-item-image-container {
    @apply image-container-normal flex;
  }

  .tracking-item-image {
    @apply object-contain self-center;
  }

  .tracking-progress-bar-container {
    @apply w-full bg-colorPrimary-button-secondary-bg rounded-full h-smallGutter relative;
  }

  .tracking-progress-slider {
    @apply bg-colorPrimary-body-text-green rounded-full h-smallGutter;
  }

  .tracking-progress-stages {
    @apply mt-smallGutter w-full flex justify-between absolute left-noSpace top-full text-info-other;
  }

  .tracking-progress-current-stage {
    @apply text-colorPrimary-body-text-green text-info-emphasize;
  }

  /* Product Details page */
  .product-details-body {
    @apply content-with-extra-padding grid grid-cols-productDetailsBodyStacked laptop:grid-cols-productDetailsBody gap-xlGutter;
  }

  .product-details-image-container {
    @apply image-container-large justify-self-start self-start;
  }

  .product-details-image {
    @apply object-contain;
  }

  .product-details-info-block {
    @apply flex flex-col h-full gap-largeGutter laptop:justify-between;
  }

  .product-details-title {
    @apply text-info-emphasize;
  }

  .product-details-price-brand-rating {
    @apply flex flex-col gap-y-smallGutter;
  }

  .product-details-price {
    @apply text-info-emphasize;
  }

  .product-details-brand-info {
    @apply link-hover text-info-other;
  }

  .product-details-rating-container {
    @apply flex items-center h-8 gap-smallGutter;
  }

  .product-details-rating-stars-link {
    @apply w-16 cursor-pointer;
  }

  .product-details-rating-stars-image {
    @apply object-contain pb-xsGutter;
  }

  .product-details-rating-count {
    @apply text-info-other link-hover h-full inline-flex items-center;
  }

  .product-details-qty-container {
    @apply self-start;
  }

  .product-details-qty {
    @apply select-primary font-medium block;
  }

  .product-details-add-to-cart-btn-container {
    @apply self-start;
  }

  .product-details-add-to-cart-btn {
    @apply btn-primary rounded-3xl h-10 px-4 text-info-other;
  }

  .product-details-description {
    @apply laptop:col-span-2 flex flex-col gap-smallGutter;
  }

  .product-details-description-title {
    @apply text-info-emphasize;
  }

  .product-details-description-body {
    @apply text-info-other;
  }

  /* Login page */
  .login-bg-blur {
    @apply fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40;
  }

  .login-body {
    @apply content-with-extra-padding flex items-center justify-center bg-colorPrimary-body-bg;
  }

  .login-popup-container {
    @apply bg-white w-full max-w-md shadow-lg rounded-lg p-largeGutter relative z-50;
  }

  .login-page-title {
    @apply w-full text-center text-info-emphasize;
  }

  .login-page-subheading {
    @apply w-full text-center text-info-other pb-largeGutter;
  }

  .login-button-toggle-container {
    @apply flex justify-center space-x-largeGutter mb-largeGutter;
  }

  .login-toggle-button {
    @apply btn-registration w-full py-xsGutter text-info-other rounded;
  }

  .login-form {
    @apply space-y-largeGutter;
  }

  .login-form-label {
    @apply block text-sm font-bold text-colorPrimary-body-text-blue mb-smallGutter;
  }

  .login-form-input {
    @apply select-primary w-full;
  }

  .confirm-password-hidden {
    @apply hidden;
  }

  .login-form-submit-button {
    @apply btn-primary w-full py-xsGutter text-info-emphasize rounded focus:outline-none;
  }

  .login-forgot-password-container {
    @apply mt-largeGutter text-center;
  }

  .login-forgot-password-link {
    @apply link-hover text-sm;
  }

  /* Registration page */
  .registration-bg-blur {
    @apply fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40;
  }

  .registration-body {
    @apply content-with-extra-padding flex items-center justify-center bg-colorPrimary-body-bg;
  }

  .registration-popup-container {
    @apply bg-white shadow-lg rounded-lg p-largeGutter w-full max-w-xl z-50;
  }

  .registration-heading {
    @apply text-body-heading text-center mb-largeGutter font-bold;
  }

  .registration-form {
    @apply space-y-largeGutter;
  }

  .registration-form-label {
    @apply block text-body-subheading font-semibold mb-xsGutter;
  }

  .registration-form-input {
    @apply w-full select-primary focus:outline-none focus:ring focus:ring-colorPrimary-select-border;
  }

  .registration-form-select {
    @apply w-full select-primary focus:outline-none focus:ring focus:ring-colorPrimary-select-border;
  }

  .registration-forgot-submit-button {
    @apply btn-primary text-info-other w-full py-xsGutter rounded font-bold focus:outline-none focus:ring focus:ring-colorPrimary-button-primary-border;
  }
}
